*{
	font-family: Oswald;
}
img.bike{
	width: 50px;
}
img.profile{
	width: 40px;
	margin-right: 100px;
}
ul{
	text-align: center;
}
li{
	margin-left: 20px;
}

.form-inline{
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-inline #search{
  width: 50%;
}

@media screen and (max-width: 600px) {
	.form-inline #search{
  	width: 100%;
}